<section>
    <!-- <small>This is footer.</small> -->
    <!-- FOOTER -->
    <section id="home" class="main-footer parallax-section" style="padding-bottom: 60px;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-1 col-sm-6" style="margin-bottom: 30px;">
                    <h3>About the Sigma Alliance</h3>
                        <p style="text-align: center;">
                            Our aim is to provide a range of guilds under one roof for players all over the world, casual and hardcore and at any level. We create a fun an interactive group where you can grow as a player and make friends at the same time.
                        </p>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-6">
                    <h3>Contact Us</h3>
                    <span style="text-align: center">
                        <p>You're welcome to join the server as there is always someone online to talk to.</p>
                        <p><i class="fa fa-weixin"></i> <a href="https://discord.gg/bewhcZa" target="_blank"style="color: #EC8F30;">Join Us On Discord</a></p>
                    </span>
                </div>
            </div>
        </div>
    </section>
    <!-- BACK TO TOP -->
    <a href="#back-top" class="go-top"><i class="fa fa-angle-up"></i></a>
    <!-- SCRIPTS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
    window.jQuery || document.write('<script src="../libs/jquery/dist/jquery.min.js"><\/script>')
    </script>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/modals.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/particles.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/jquery.parallax.js"></script>
    <script src="/assets/js/smoothscroll.js"></script>
    <script src="/assets/js/custom.js"></script>
    <!-- <script src="assets/js/iziModal.js"> -->
    </script>



    </section>