<!-- MAIN LOGO -->

<style>
.main-home { background: url('/assets/img/battlefront.jpg') no-repeat center; }
</style>

<section id="home" class="main-home parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <img src="/assets/img/template.png" class="biglogo" style="max-width: 200px;" />
                <h2 style="margin-top: 3rem; padding-bottom: .5rem; font-size: 2.5rem;">In the deep of winter the lone wolf shall perish, it is the pack which survives.</h2>
                <h3>Join us on Discord or scroll down to learn more</h3>
            </div>
<!--             <div class="col-md-4 col-sm-12">
                <h4><a href="swgoh/about" class="biglogo-cta">
                    SWGOH Community
                </a></h4>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4><a href="msf/about" class="biglogo-cta">
                    MSF Community
                </a></h4>
            </div>
            <div class="col-md-4 col-sm-12">
                <h4><a href="wow/about" class="biglogo-cta">
                    Wow Community
                </a></h4>
            </div> -->
            <div class="col-md-12 col-sm-12">
                <h4 style="margin-top: 0; padding-bottom: 0;"><a href="https://discord.gg/V33Kfaj" target="_blank" class="biglogo-cta" style="margin-top: 2rem;">
                    Our Discord
                </a></h4>
            </div>
       </div>
    </div>
</section>

<section id="section05" class="demo">
    <a href="#start" style="left: 50%;"><span></span>Scroll</a>
</section>

<!-- SWGOH LOGO -->
<!-- <section id="logo" class="main-logo parallax-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
            <img src="/assets/img/swgohlogo.png" class="swgohlogo">
        </div>
    </div>
</section> -->