<style>

aside {
	display: inline-block;
	float: none;
	width: auto;
	padding-bottom: 5rem;
	margin: -6rem auto 0 auto;
}
aside a {
	display: inline-block;
	padding: 0.5rem;
}

@media (min-width: 1100px) {
 aside {
 	/*background-color: blue;*/
	display: block;
	float: left;
	/*margin: 20rem auto auto auto;*/
	width: 10rem;
	padding-top: 0;
	margin: 12rem 0 0 -12rem;
	position: absolute;
 }
 aside a {
 	display: block;
 	padding: 0;
 }
}

</style>

<!-- <aside>
	<a href="/swgoh/about">About</a>
	<a href="/swgoh/sigma">Sigma</a>
	<a href="/swgoh/next">Next</a>
	<a href="/swgoh/nation">Nation</a>
</aside> -->