---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">


  {% include head.html %}

  <body>

	<!-- NAVBAR  -->
	{% include navigation.html navigation=site.data.navigation-wow %}

	<!-- PARALAX for home -->
	{% include header.html %}

    <main>

      {{ content }}

    </main>

    {% include footer.html %}

  </body>

</html>
