---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">


  {% include msf-head-sigma.html %}

  <body>

	<!-- NAVBAR  -->
  {% include navigation.html navigation=site.data.navigation-msf %}

	<!-- PARALAX for home -->
	{% include msf-header-sigma.html %}

    <main>

      {{ content }}

    </main>

    {% include footer.html %}

  </body>

</html>
