---
layout: landing
---

<h2>{{ page.title }}</h2>

  {% include page-intro.html %}

  {{ content }}

  <!-- <hr> -->

<!--   <section>

    <h2>Recent posts</h2>

    <ul>
      {% for post in site.posts limit:3 %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

  </section> -->
