---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">


  {% include head-msf.html %}

  <body>

	<!-- NAVBAR  -->
	{% include navigation.html navigation=site.data.navigation-msf %}

	<!-- PARALAX for home -->
	{% include scroll-msf.html %}

	<a name="start"></a>

    <main>

		{{ content }}

    </main>

    {% include footer.html %}

  </body>

</html>
